:root {
  -main-bg-vdkblue: #121417;
  -card-bg: #252d37;
  -main-text: #7c8798;
  -white: #ffffff;
  -rate-active: #959eac;
  -orange: #fb7413;

  -default-fontsize: .9375rem;

  -font:'Overpass', sans-serif;
  

}